## (1)The characteristic of tuple are

In [ ]:
**they are ordered
**They ate immutable
**they are containg duplecate items
**the elemrnt can not be changed once it is assigned

In [1]:
t= ()
print(t)

()

In [2]:
t = (1,2,3,4)
print(t)

(1, 2, 3, 4)

In [4]:
t =(1,2,3,4,34.3,4+5j,"subhu",True)
type(t)

tuple

In [ ]:
## Tuple is immutable it can not changed

In [6]:
t

(1, 2, 3, 4, 34.3, (4+5j), 'subhu', True)

In [7]:
t[2]=20

TypeError: 'tuple' object does not support item assignment

In [8]:
t[0]= 34

TypeError: 'tuple' object does not support item assignment

## (2)there are two tuple methods , they are count and index

In [ ]:
## count here is to given items are present in tuple

In [10]:
t

(1, 2, 3, 4, 34.3, (4+5j), 'subhu', True)

In [11]:
t.count(1)

2

In [12]:
t.count("abc")

0

In [13]:
t.count("subhu")

1

## index

In [ ]:
## the check index inthe tuple line

In [14]:
t

(1, 2, 3, 4, 34.3, (4+5j), 'subhu', True)

In [15]:
t.index(1)

0

In [16]:
t.index(4)

3

## Reason for having only two built-in methods in tuples compared to lists:

In [ ]:
**Tuples and lists are collections of items,but tuples are immutable,means cannot be changed nor created element.
**Lists are mmutable and can be mmutable allows to change the elements

In [ ]:
**Tuples are immutable,and methods cannot modify by(eg:..append,extend,pop,remove)

In [ ]:
**Lists are mmutable and have wide range of modification and manipulaton

In [ ]:
**Lists in python have wide more extensive set of built-in methods compared to tuples

In [ ]:
**Lists has more methods in lists makes them more suitable for data structures and change can be made.

In [ ]:
** tuples on the hand are used in situation where you want to ensure data integrity and immutability.

## (3)

In [ ]:
In Python, the collection data type that does not allow duplicate items is the set. Sets are unordered collections of unique elements. When you try to add a duplicate item to a set, it will be ignored, and the set will remain unchanged.

In [22]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(List)

{1, 2, 3, 4}

## 4

In [ ]:
union() method:
The union() method returns a new set that contains all the unique elements from both sets, without modifying the original sets.
It does not change the sets it is called on but creates a new set with the combined elements of both sets.

In [1]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

res = set1.union(set2)
print(res)

{1, 2, 3, 4, 5}

In [2]:
set1 = {"a","b","c"}
set2 = {"a","d","e"}
set3 = set1.union(set2)
print(set3)

{'e', 'd', 'c', 'b', 'a'}

In [3]:
set1 = {"a","b","c"}
set2 = {3, 4, 5}

res = set1.union(set2)
print(res)

{3, 4, 5, 'c', 'b', 'a'}

# update

In [ ]:
used to add elements from another iterable (e.g., set, list, tuple) to the original set. It modifies the original set by adding the elements from the specified iterable.
The elements that are already present in the original set will not be duplicated; only new elements are added.

In [4]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Set 1:", set1)

Set 1: {1, 2, 3}

In [5]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Set 1:", set1)

Set 1: {1, 2, 3}

In [6]:
set1 = {'ram', 'syam','kenny'}
set2 = {'jenny','jiya','akash'}
set3 = {'anu','ram'}
set1.update(set2)
print(set1)

{'kenny', 'ram', 'syam', 'jiya', 'jenny', 'akash'}

In [7]:
set1 = {'ram', 'syam','menny'}
set2 = {'jenny','jiya','akash'}
set3 = {'anu','ram'}
set1.update(['vava','mohan'])
print(set1)

{'menny', 'mohan', 'ram', 'syam', 'vava'}

In [8]:
set1 = {'ram', 'syam','menny'}
set2 = {'jenny','jiya','akash'}
set3 = {'anu','ram'}
set3.update(['vkava','mohan'])
print(set3)

{'ram', 'anu', 'mohan', 'vkava'}

## DICTIONARY

In [ ]:
## Dictionary is a data structure that stores a collection of key-value pairs

In [ ]:
Each key in the dictionary maps to a corresponding value, allowing you to retrieve the value associated with a particular key effectively

In [ ]:
Dictionaries are also known as associative arrays or hash maps in other programming languages.

In [ ]:
 Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any data type (e.g., strings, numbers, lists, other dictionaries, etc.).

In [9]:
dict = {
    "name": "John Doe",
    "age": 30,
    "occupation": "Software Engineer",
    "email": "john.doe@example.com"}
print("Name:", dict["name"])

Name: John Doe

In [10]:
print(dict)

{'name': 'John Doe', 'age': 30, 'occupation': 'Software Engineer', 'email': 'john.doe@example.com'}

In [11]:
print("age" , dict["name"])

age John Doe

In [12]:
print("occupation" ,dict["occupation"])

occupation Software Engineer

##5

In [ ]:
## nested dictionary

In [ ]:
 dict= {'batch_name': ['data science masters', 'web dev', 'JDS'},
 'start_date': {28, 14, 21},
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',}
    print{dict}