## Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

In [ ]:
Union() is used to create a new set that contains all the unique elements from both sets. It does not modify the original sets; instead, it returns a new set containing the combined elements.

In [1]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

res = set1.union(set2)
print(res)

{1, 2, 3, 4, 5}

In [7]:
set1 = {"a","b","c"}
set2 = {"a","d","e"}
set3 = set1.union(set2)
print(set3)

{'e', 'd', 'a', 'b', 'c'}

In [13]:
set1 = {"a","b","c"}
set2 = {3, 4, 5}

res = set1.union(set2)
print(res)

{3, 4, 5, 'a', 'b', 'c'}

## update

In [ ]:
used to add elements from another iterable (e.g., set, list, tuple) to the original set. It modifies the original set by adding the elements from the specified iterable.
The elements that are already present in the original set will not be duplicated; only new elements are added.

In [18]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Set 1:", set1)

Set 1: {1, 2, 3, 4, 5}

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Set 1:", set1)

Set 1: {1, 2, 3}

In [2]:
set1 = {'ram', 'syam','kenny'}
set2 = {'jenny','jiya','akash'}
set3 = {'anu','ram'}
set1.update(set2)
print(set1)

{'jenny', 'jiya', 'kenny', 'syam', 'akash', 'ram'}

In [3]:
set1 = {'ram', 'syam','menny'}
set2 = {'jenny','jiya','akash'}
set3 = {'anu','ram'}
set1.update(['vava','mohan'])
print(set1)

{'ram', 'vava', 'syam', 'menny', 'mohan'}

In [7]:
set1 = {'ram', 'syam','menny'}
set2 = {'jenny','jiya','akash'}
set3 = {'anu','ram'}
set3.update(['vkava','mohan'])
print(set3)

{'anu', 'vkava', 'mohan', 'ram'}

## DICTIONARY

In [ ]:
Dictionary is a data structure that stores a collection of key-value pairs

In [ ]:
Each key in the dictionary maps to a corresponding value, allowing you to retrieve the value associated with a particular key effectively

In [ ]:
Dictionaries are also known as associative arrays or hash maps in other programming languages.

In [ ]:
 Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any data type (e.g., strings, numbers, lists, other dictionaries, etc.).

In [3]:
dict = {
    "name": "John Doe",
    "age": 30,
    "occupation": "Software Engineer",
    "email": "john.doe@example.com"}
print("Name:", dict["name"])

Name: John Doe

In [6]:
print(dict)

{'name': 'John Doe', 'age': 30, 'occupation': 'Software Engineer', 'email': 'john.doe@example.com'}

In [10]:
print("age" , dict["name"])

age John Doe

In [11]:
print("occupation" ,dict["occupation"])

occupation Software Engineer

## 5

In [ ]:
## nested dictionary

In [17]:
 dict= {'batch_name': ['data science masters', 'web dev', 'JDS'},
 'start_date': {28, 14, 21},
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',}
    print{dict}

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' (3083978192.py, line 1)